<section class="card">
  <!-- Section: contact -->
  <div id="fh5co-contact" data-section="contactanos">
    <div class="container">
      <div class="row text-center fh5co-heading row-padded">
        <div class="container">
          <h1>Contáctanos </h1>
        </div>
        <p class="row">
          <FONT SIZE=3> ‏‏‎‎ ‏‏‎‎ ‏‏‎‎ ‏‏‎‎ ‏‏‎‎ ‏‏‎‎ ‏‏‎‎ ‏‏‎‎ ‏‏‎‎ ‏‏‎‎ Si eres un veterinario y quieres hacer uso de
            nuestro servicio,
            contáctanos
            a través de los siguientes medios.</FONT>
        </p>

      </div>
      <h1> </h1>
      <div class="row" padding='10px'>
        <div class="col-md-6 to-animate-2">

          <ul class="fh5co-contact-info">
            <li> <i class="fas fa-user-clock"></i>
              <FONT SIZE=3>Lunes a viernes: 9:30 - 12:30 / 15:00 - 18:00</FONT>
            </li>
            <li><i class="fas fa-map-marker-alt"></i>
              <FONT SIZE=3>Avenida Diego De Almagro 2577 Rancagua.</FONT>
            </li>

            <li><i class="fab fa-whatsapp"></i>
              <FONT SIZE=3>(+569) 24157321</FONT>
            </li>
            <li><i class="fas fa-at"></i>
              <FONT SIZE=3>info_pet@gmail.com</FONT>
            </li>
            <li><i class="fab fa-instagram"></i>
              <FONT SIZE=3>infoPet </FONT>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>