<div class="jumbotron mt-10">
  {{#if user}}
  <h1 style="padding-top: 30px;">Hola {{userName}}</h1>
  {{/if}}
  <div align="center"><img width='300px' height='330px' src="/img/info.jpg"></div>
  <h1 style="padding-top: 30px;">Bienvenido!</h1>
  <h3>Esta página está hecha con el fin de almacenar los registros médicos de tu mascota,
    para reemplazar al molesto
    carnet en formato físico utilizado actualmente por las veterinarias.</h3>
  <img style="padding-top: 30px;" width='980px' height='550px' src="/img/inicio.jpg">
  <h3 style="padding-top: 30px;">Si quieres registrarte acude a un veterinario asociado, el cual podrás distinguir por
    nuestra marca en su
    consulta,
    este creará tu cuenta y digitalizará los datos de tu mascota.</h3>
  <h3 style="padding-top: 20px;">Si eres veterinario y quieres asociarte a nuestro servicio contactanos!</h3>
</div>