<div class="form-control">
    <div class="card text-center">
        <div class="card-header">
            <h3>Nueva Operaci贸n</h3>
        </div>
        <div class="card-body">
            <form action="/operations/new-operations/{{note._id}}" method="POST">
                <div class=" form-group">
                    <input name="name" class="form-control" placeholder="Nombre de la operaci贸n"></input>
                </div>
                <div class="form-group">
                    <input name="description" class="form-control" placeholder="Descripci贸n de la operaci贸n"></input>
                </div>
                <div class="form-group">
                    <input name="date" class="form-control" placeholder="Fecha : DD/MM/AA"></input>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>